{% include 'base_head.html' %}

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

{% include 'nav.html' %}

<!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="brand-heading">Media Takeover</h1>
                        <p class="intro-text">PRODUCTION | MEDIA | MANAGEMENT </p><br>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                      <div id="headshot"><img src="static/img/Aquarius/headshot.jpg"></div>
                    </div>
                    <div class="col-md-6">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna
                            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                            ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                            cupidatat non proident, sunt in culpa qui officia deserunt
                            mollit anim id est laborum</p>
                    </div>
                </div>
            </div>
        </div>
    </header>

<!-- Management div -->
    <div id="management-section" classf="container-fluid content-section text-center">
      <div id="management">
         <div class="row technical-snippet">
          <div id="management-logo"> <img src="/static/img/Aquarius/aquarius_management.png"></div>
        </div>
      </div>
    </div>

<!-- Stormsound div -->
    <div id="stormsound-section" class="container-fluid content-section text-center">

        <div id="projects" class="container-fluid row">
            <div id="stormsound-header"><img src="/static/img/Aquarius/SSBW2.png"></div>
            <div id="stormsound-bg"></div>
        </div>

        <div id="snippets-container">
        <div class="row technical-snippet">
            <div class="col-lg-4 skill ">

                    <img class="icons" src="static/img/icons/index.png">
                    <h6>Live Sound</h6><br>
                      Engineering services to meet your event needs <br><br>

            </div>

            <div class="col-lg-4 skill">
                <img class="icons" src="static/img/icons/frame.png">
                <h6>Consultation</h6> <br>
                  Consultation on your AV expenditures <br><br>
            </div>

            <div class="col-lg-4 skill">
                <img class="icons" src="static/img/icons/paint.png">
                <h6>Event Production</h6><br>
                    Let our professional team produce the perfect event for you! <br><br>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-4 skill">
                <img class="icons" src="static/img/icons/triangle.png">
                <h6>System Rentals</h6><br>
                     Storm Sound offers high-quality professional PA Systems to order <br><br>
           </div>

            <div class="col-lg-4 skill">
                <img class="icons" src="static/img/icons/hammer.png">
                <h6>Sound for Film</h6><br>
                    Field mixing services for Film or Television <br><br>
           </div>

            <div class="col-lg-4 skill">
                <img class="icons" src="static/img/icons/joystick.png">
                <h6>On-Location Recording</h6><br>
                    Our mobile studio services can record at virtually any location!<br><br>
            </div>

        </div>

      </div>

    </div>

    <div id="product-section" class="content-section text-center">

        <h2 style="color: #5980ff;">@aquariusproduct</h2>

           <div class="col-lg-6 col-lg-height">

          </div>

           <div class="col-lg-6 col-lg-height">

          </div>

        <div id="project-list">
          <ul>
             <li> <img class="proj-list" id="pthumb-1" src="/static/img/icons/ark.png"><a href="http://www.kraeher.com"></a></li>
             <li> <img class="proj-list" id="pthumb-2" src="/static/img/icons/carbonads.png"><a href="http://www.carbonads.net"></a></li>
             <li> <img class="proj-list" id="pthumb-3" src="/static/img/icons/almostf.png"><a href="http://www.almostfamous.com"></a></li>
             <li> <img class="proj-list" id="pthumb-4" src="/static/img/icons/dcoffee.png"><a href="http://www.democracycoffee.com"></a></li>
             <li> <img class="proj-list" id="pthumb-7" src="/static/img/icons/chart.png"><a href="https://github.com/kprasch/dispatch.py"></a></li>
             <li> <img class="proj-list" id="pthumb-5" src="/static/img/icons/this.png"><a href="#"></a></li>
             <li> <img class="proj-list" id="pthumb-6" src="/static/img/icons/roothub.png"><a href="https://github.com/SlashRoot/WHAT"></a></li>
          </ul>
        </div>
    </div>

<!-- Photo div -->
    <div id="photo-section" class="content-section text-center">
        <div id="photo">
            <div class="container">
                <div id="photo-container" class="col-lg-8 col-lg-offset-2">
                    <div style="height:230px;"></div>
                </div>
            </div>
        </div>
    </div>

<!-- Instagram div -->
    <div id="instagram" class="container-fluid content-section text-center">
        <div class="row">

                <div id="container" class="masonry">


                {% for image in instagram_photo_urls %}

                      {% comment %}
                      {% if forloop.first %}
                     <a href="/gallery"> <div id="block-port" class="item"><span id="block-port-text">fullscreen gallery<br>(100+ Mb!)</span></div></a>
                      {% endif %}
                      {% endcomment %}

                      {% if forloop.counter|divisibleby:4  %}
                        <div class="item gigante" style="background-image: url('{{ image }}');"></div>
                      {% else %}

                      <div class="item" style="background-image: url('{{ image }}');"></div>
                      {% endif %}
                {% endfor %}

                </div>
       </div>

        <script>
            docReady( function() {

              var container = document.querySelector('.masonry');
              var msnry = new Masonry( container, {
                columnWidth: 200
              });

              eventie.bind( container, 'click', function( event ) {
                // don't proceed if item was not clicked on
                if ( !classie.has( event.target, 'item' ) ) {
                  return;
                }
                // change size of item via class
                classie.toggle( event.target, 'gigante' );
                // trigger layout
                msnry.layout();
              });

            });
        </script>
    </div>
<!-- Contact div -->
    <div id="contact-section" class="content-section text-center">
        <div class="contact">
        <h2>Contact</h2>
            <div class="container">

                <div class="col-lg-6">
                  <div id="headshot-contact"><img src=""></div>
                </div>

                <div class="col-lg-6">
                  <p>lkjlkjlkjkljkjbjhknlbjlkjlkjlkjkljkjbjhknlbjlkjlkjlkjk
                    ljkjbjhknlbjlkjlkjlkjkljkjbjhknlbjlkjlkjlkjkljkjbjhknlbj
                    lkjlkjlkjkljkjbjhknlbj</p>
                </div>

            </div>
        </div>
    </div>
<!-- Footer -->
    <footer>
        <div class="container text-center">
            <p style="font-size:10px;">Copyright &copy; Aquarius Entertainment 2016. All Rights Reserved.<br>
            </p>
        </div>
    </footer>
<!-- JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.0.4/js/bootstrap.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>
